            body {
                line-height: 1.5;
            }

            li {
                display: block;
                word-wrap: break-word;
                max-width: 160em;
            }

            .num {
                color: blue;
            }

            .bool {
                color: red;
            }

            .string {
                color: green;
            }

            .null {
                color: purple;
            }

            .key {
                color: green;
                display: inline;
            }

            input {
                display: inline;
            }

            input[type="checkbox"]+label+span+ul {
                display: none;
            }

            input[type="checkbox"]:checked+label+span+ul {
                display: unset;
            }

            ul>li {
                margin-left: 0em;
            }

            li {
                list-style-type: none;
            }

            input[type='checkbox']+label:before {
                content: "\25B6";
                font-size: 10;
                font-family: "Arial Unicode MS", "Lucida Sans Unicode", "DejaVu Sans", "Quivira", "Symbola", "Code2000";
                -webkit-transition: 0.05s ease-in-out;
                -moz-transition: 0.05s ease-in-out;
                -o-transition: 0.05s ease-in-out;
                transition: 0.05s ease-in-out;
                margin-left: -1em;
            }

            input[type='checkbox']:checked+label:before {
                font-size: 10;
                transform: rotate(90deg);
                display: inline-block;
                font-family: "Arial Unicode MS", "Lucida Sans Unicode", "DejaVu Sans", "Quivira", "Symbola", "Code2000";
            }

            input[type='checkbox'] {
                display: none;
            }

            label {
                cursor: pointer;
            }